/* Style général de la section des services */
.services-section {
    height: 90vh;
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.services-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

/* Grille des services */
.services-grid {
    display: flex;
    flex-wrap: wrap;
    /* Flexbox réactif */
    justify-content: center;
    /* Centre les cartes */
    gap: 20px;

}

.service-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1em;
    color: #777;
}