.room-section {
	width: 100%;
	text-align: center;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.room-card {
	background-color: white;
	overflow: hidden;
	flex-basis: 31%;
	text-align: left;
	transition: transform 0.3s ease;
}

.room-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

.room-card img {
	width: 100%;
	object-fit: cover;
	display: block
}