.footer {
    text-align: center;
    color: white;
    margin-top: 70px;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-map {
    height: 250px;
    width: 50%;
}

.footer-location {
    background-color: rgba(83, 105, 39, 0.671);
    width: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.footer-location .loc,
.contact {
    width: 100%;
}

.footer-links {
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(83, 81, 81);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

ul li {
    display: inline;
    margin: 5px 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-map,
    .footer-location {
        width: 100%;
    }

    .footer-links {
        height: auto;
        text-align: center;
    }

    .footer-links ul {
        padding: 0;
        margin: 10px 0 0 0;
    }

    .footer-links ul li {
        display: block;
        margin: 5px 0;
    }

    .logo {
        margin-bottom: 10px
    }
}